<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>BuildingServlet</servlet-name>
        <servlet-class>servlet.BuildingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBuildingsServlet</servlet-name>
        <servlet-class>servlet.GetBuildingsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyBuildingServlet</servlet-name>
        <servlet-class>servlet.ModifyBuildingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBuildingServlet</servlet-name>
        <servlet-class>servlet.DeleteBuildingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllRoomsServlet</servlet-name>
        <servlet-class>servlet.room.AllRoomsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewRoomServlet</servlet-name>
        <servlet-class>servlet.room.AddNewRoomServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuildingServlet</servlet-name>
        <url-pattern>/BuildingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBuildingsServlet</servlet-name>
        <url-pattern>/GetBuildingsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyBuildingServlet</servlet-name>
        <url-pattern>/ModifyBuildingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBuildingServlet</servlet-name>
        <url-pattern>/DeleteBuildingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllRoomsServlet</servlet-name>
        <url-pattern>/AllRoomsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewRoomServlet</servlet-name>
        <url-pattern>/AddNewRoomServlet</url-pattern>
    </servlet-mapping>

</web-app>